* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 7rem;
}

.btn {
  width: 20rem;
  background: #000;
  color: white;
  letter-spacing: 5px;
  border: none;
  outline: none;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:active {
  background: hsl(5, 85%, 63%);
  width: 20rem;
  color: white;
  letter-spacing: 5px;
  border: none;
  outline: none;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

hr {
  background: hsl(236, 13%, 42%);
}

.hamburger {
  display: none;
  z-index: 100;
}

.container {
  max-width: 100%;
  background-color: hsl(36, 100%, 99%);
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  width: 40%;
}

.nav-item-ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.nav-item-li {
  color: hsl(236, 13%, 42%);
  font-size: 2rem;
  cursor: pointer;
}

.nav-item-li:hover {
  color: hsl(5, 85%, 63%);
}

.navPage {
  width: 90vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 5rem;
}

.navPage ul {
  list-style: none;
  font-size: 4rem;
}

.navPage ul li {
  padding: 1rem;
}

.gridContainer {
  padding: 5rem 0;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  grid-template-areas:
    "image image black"
    "bright read black"
    "cont cont cont";
}

.item-1-image {
  background-color: orange;
  max-width: 100%;
  grid-area: image;
}

.item-2-black-box {
  background-color: black;
  grid-area: black;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-2-black-box h1 {
  color: hsl(35, 77%, 62%);
  font-size: 5rem;
}

.box-item {
  max-width: 100%;
  line-height: 1.8;
}

.box-item h2 {
  color: white;
  font-size: 3rem;
}

.box-item h2:hover {
  color: hsl(35, 77%, 62%);
}

.box-item p {
  color: hsl(236, 13%, 42%);
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.item-3-bright {
  font-size: 7rem;
  grid-area: bright;
  justify-self: center;
  align-self: center;
}

.item-4-read-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem 0 0;
  font-size: 2.5rem;
  color: hsl(236, 13%, 42%);
  grid-area: read;
}

.item-5-container {
  display: flex;
  gap: 4rem;
  width: 100%;
  grid-area: cont;
  padding-top: 5rem;
}

.item {
  max-width: 33%;
  display: flex;
  gap: 3rem;
}

.img-container {
  width: 20rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.details h2 {
  font-size: 3rem;
  font-weight: 900;
  color: hsl(236, 13%, 42%);
  letter-spacing: 3px;
}

.details h3 {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.details h3:hover {
  color: hsl(5, 85%, 63%);
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 3px;
}

.details p {
  color: hsl(236, 13%, 42%);
  font-size: 1.4rem;
  line-height: 20px;
  letter-spacing: 3px;
}

.img {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

@media (max-width: 1164px) {
  html {
    font-size: 55%;
  }
  .nav-item {
    width: 60%;
  }
}

@media (max-width: 1045px) {
  .item-5-container {
    flex-wrap: wrap;
  }
  .item {
    max-width: 45%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
  body {
    padding: 4rem;
  }
}

@media (max-width: 717px) {
  body {
    padding: 3rem;
  }
  .gridContainer {
    grid-template-areas:
      "image"
      "bright"
      "read"
      "black"
      "cont";
  }
  .item-1-image,
  .item-2-black-box,
  .item-3-bright,
  .item-4-read-more {
    max-width: 100%;
    grid-column: 1/-1;
  }
  .item-4-read-more {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .item-5-container {
    grid-column: 1/-1;
    flex-wrap: wrap;
  }
  .item {
    max-width: 100%;
    height: 15rem;
  }
  .img-container {
    width: 20rem;
  }
  .box-item {
    padding: 3rem 3rem 3rem 0;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
  .item {
    gap: 1.5rem;
  }
  .details p {
    line-height: 1.2;
  }
}

@media (max-width: 500px) {
  .nav-item {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .nav-item {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
